#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

svg {
  border: 1px solid #ccc;
  margin: 0 auto;
  display: block;
}

.highlight {
  stroke: #ffa500 !important;
  stroke-width: 4 !important;
  filter: drop-shadow(0 0 5px #e04af0);
}

.highlight-node {
  stroke: #6ef6e870;
  /* stroke-width: 4 !important; */
  filter: drop-shadow(0 0 5px #ee6bf5);
}

.highlight-label {
  fill: #e04af0 !important;
  filter: drop-shadow(0 0 5px #e04af0);
}